.headerBlock {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

.tabButton {
    background-color: aliceblue;
    border: white 1px solid;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
}

.tabButton:disabled {
    color: inherit;
}

.tabButtonActive {
    background-color: lightblue;
    border-color: black;
}